language: c

compiler:
    - gcc
    - clang

before_install:
    - sudo pip install cpp-coveralls

install:
    - sudo apt-get update -qq
    - sudo apt-get install -qq python3 python3-dev
    - sudo apt-get install -qq check

script: autoreconf --install && ./configure --enable-gcov PYTHON_VERSION=3.2 && make && make distcheck && make check

after_success:
    - coveralls --exclude tests --extension c

deploy:
    provider: releases
    api_key:
        secure: Q/LypIhTkXiPp+NFtlDaKqc6tMUy7YnGs5sV24UEgI/8B/SUojexqGczdvEwpFep2DuXcJQ6bsbBkNYS5KBWSg67gsP5J/LkbjytMM/FWdFTV/zhlmUK+mMnKVHhlaC78JIg6vRxuKPMVYlcM2zcGcnRPQS8X3t+FdDkvw54zDM=
    file: q3py-0.0.1.tar.gz
    skip_cleanup: true
    on:
        repo: robo9k/q3py
        branch: master
        tags: true
