language: c
compiler:
    - gcc
    - clang
install:
    - "sudo apt-get update -qq"
    - "sudo apt-get install -qq python3"
    - "sudo apt-get install -qq check"
script: "autoreconf --install && ./configure && make && make check"
