language: c
compiler:
    - gcc
    - clang
before_install:
    - sudo pip install cpp-coveralls
install:
    - "sudo apt-get update -qq"
    - "sudo apt-get install -qq python3 python3-dev"
    - "sudo apt-get install -qq check"
script: "autoreconf --install && ./configure --enable-gcov PYTHON_VERSION=3.2 && make && make check"
after_success:
    - coveralls --exclude tests
